Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.ipch
*.log
*.tlog
*.lastbuildstate

*.suo
*.user
*.userosscache
*.rsuser
.vs/

*.pch
*.cpp~*
*.tmp

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

*.log
