# Katalogi build
cmake-build-debug/
cmake-build-release/
build/
Debug/
Release/
.vs/

# Pliki IDE
.idea/
*.user
*.suo
*.sln.docstates

# Pliki skompilowane
*.exe
*.dll
*.so
*.dylib
*.obj
*.o

# Pliki CMake
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt

# Pliki tymczasowe
*.tmp
*.log